.sign-in-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
  .sign-in-page .details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold; }
  .sign-in-page .controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 8px auto; }

@media screen and (max-width: 512px) {
  .sign-in-page {
    padding: 16px; 
  } 
}
